---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Preserve
IndentCaseLabels: false
...
